---

- name: install mysql server
  become: yes
  portage: package=dev-db/mysql state=emerged newuse=yes update=yes

- name: install python mysqldb module
  become: yes
  portage: package=dev-python/mysql-python state=emerged newuse=yes update=yes

- name: set root user password
  become: yes
  ini_file:
    dest: /root/.my.cnf
    section: client
    option: password
    value: "{{ mysql_root_password }}"
    create: yes

- name: check for fresh installation
  stat: path=/var/lib/mysql
  register: st

- name: remove log-bin config entry
  become: yes
  lineinfile: dest=/etc/mysql/my.cnf state=absent regexp="^log-bin"
  when: not st.stat.exists

- name: check for mysql version
  shell: emerge -pv dev-db/mysql | grep 'dev-db/mysql' | awk '{print $4}'
  register: version
  changed_when: false
  when: not st.stat.exists

- name: configure mysql server
  become: yes
  command: "emerge --config ={{ version.stdout }}"
  when: not st.stat.exists

- name: ensure mysql is running
  become: yes
  service: name=mysql state=started enabled=yes
